<h2>Delete '<%= @student.name %>'</h2>

<% prompt do %>
  <% form_tag student_path(@student), :method => :delete do %>
    <label>Really delete this record?</label>

    <div class="form-actions">
      <%= submit_tag 'Delete' %>
      or
      <a href="/students">Cancel</a>
    </div>
  <% end %>
<% end %>

<%= render :partial => '/students/summary' %>
