<% prompt do %>
  <strong>Note:</strong>
  It's better to mass-add students via database migration.
<% end %>

<h2>Add a new student</h2>

<% form_tag '/students' do %>
  <%= render :partial => 'form' %>

  <div class="form-actions">
    <%= submit_tag 'Add' %>
    |
    <a href="/students">Cancel</a>
  </div>
<% end %>

