/**
 * flash related styles
 */
div.flash {
  padding: 10px 20px 10px 37px;
  width: 100%;
}
div.flash span {
  color: #FFF;
  font-size: 1.2em;
  font-weight: bold;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 20px;
}
div.flash.notice {
  background-color: #82FFA0;
}
div.flash.notice span {
  background-color: #82FFA0;
  background-image: url(/images/icons/accept.png);
}
div.flash.warning {
  background-color: #FF82A0;
}
div.flash.warning span {
  background-color: #FF82A0;
  background-image: url(/images/icons/exclamation.png);
}
div.flash.error {
  background-color: #111111;
}
div.flash.error span {
  background-image: url(/images/icons/cancel.png);
}



/**
 * Box css overrides
 */
.box .boxcontent {
  padding: 2em;
}
.prompt-box.box .boxcontent {
  padding: 1em 2em;
}
.box.yellow-green {
  background: #C0E13A;
}



/**
 * tables
 */
table tr.even {
  background-color: #F5FFF5;
}

table#admins td, table#students td, table#terminals {
  text-align: center;
}




/**
 * Forms
 */
form p {
  float: left;
}
form p.left {
  width: 300px;
  clear: left;
}
form p.right {
  width: 300px;
}
form span.form-field-hint {
  color: #AAA;
  font-style: italic;
}
form span.form-field-hint:before {
  content: '('
}
form span.form-field-hint:after {
  content: ')'
}
form .form-actions input {
  background-color: transparent;
  border: 0;
  font-family: Verdana,Helvetica;
  font-size: 12pt;
  color: #93B21A;
  cursor: pointer;
  padding: 10px;
}
form .form-actions a {
  font-family: Verdana,Helvetica;
  font-size: 12pt;
  text-decoration: none;
  padding: 10px;
}



/**
 * Validation Errors
 */
#errorExplanation {
  border: 1px solid red;
  padding: 1em;
  margin-bottom: 1em;
}
#errorExplanation h3 {
  color: red;
}
#errorExplanation ul {
  clear: left;
}
form span.field-with-errors input,
form span.field-with-errors select,
form span.field-with-errors textarea {
  border: 2px solid red;
}
form span.field-error-detail {
  color: red;
  font-size: 0.9em;
  font-style: italic;
}



/**
 * Link icons
 */
a.new, a.list, a.cancel {
  padding: 2px 10px 2px 20px;
  background-position: left center;
  background-repeat: no-repeat;
}
a.new {
  background-image: url(/images/icons/add.png);
}
a.list {
  background-image: url(/images/icons/application_view_list.png);
}



/**
 * Action icons
 */
td.actions {
  white-space: nowrap;
  text-align: center;
  width: 40px;
}
.actions a {
  background-position: top left;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  display: block;
  float: left;
}
.actions a span {
  display: none;
}
.actions a.edit {
  background-image: url(/images/icons/pencil.png);
}
.actions a.delete {
  background-image: url(/images/icons/bin.png);
}



/**
 * Sort icons
 */
.current-sort {
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 18px;
}
.current-sort.asc {
  background-image: url(/images/icons/bullet_arrow_up.png);
}
.current-sort.desc {
  background-image: url(/images/icons/bullet_arrow_down.png);
}



/**
 * Login screen
 */
#login-page form {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}
#login-page {
  font-size: 1.2em;
}
#login-page input, #login-page checkbox {
  font-size: 1.2em;
}



p.no-records {
  padding: 0 5em;
  color: #888;
  font-size: 1em;
  font-style: italic;
}
br.clear {
  clear: both;
}