/**
 * flash related styles
 */
div.flash {
  padding: 10px 20px 10px 37px;
  width: 100%;
}
div.flash span {
  color: #FFF;
  font-size: 1.2em;
  font-weight: bold;
}
div.flash.notice {
  background-color: green;
}
div.flash.warning {
  background-color: red;
}





/**
 * tables
 */
table tr.even {
  background-color: #F5FFF5;
}

table#admins td {
  text-align: center;
}




/**
 * Forms
 */
form p {
  float: left;
}
form p.left {
  width: 350px;
  clear: left;
}
form p.right {
  width: 350px;
}



/**
 * Validation Errors
 */
#errorExplanation {
  border: 1px solid red;
  padding: 1em;
  margin-bottom: 1em;
}
#errorExplanation h3 {
  color: red;
}
#errorExplanation ul {
  clear: left;
}
form span.field-with-errors input,
form span.field-with-errors select,
form span.field-with-errors textarea {
  border: 2px solid red;
}
form span.field-error-detail {
  color: red;
  font-size: 0.9em;
  font-style: italic;
}



p.no-records {
  padding: 0 5em;
  color: #888;
  font-size: 1em;
  font-style: italic;
}
br.clear {
  clear: both;
}