<h2>Admins</h2>

<% superadmin do %>
  <a href="/admins/new" class="new">Add</a>
<% end %>

<% unless @admins.empty? %>
  <%= render :partial => '/admins/list' %>
  <%= will_paginate @admins %>
<% else %>
  <%= render :partial => '/shared/no_records' %>
<% end %>
