<h2>Add a new admin</h2>

<% form_tag '/admins' do %>
  <%= render :partial => 'form' %>

  <div class="form-actions">
    <%= submit_tag 'Add' %>
    or
    <a href="/admins">Cancel</a>
  </div>
<% end %>

