<h2>Alerts by <%= (@admin == current_admin) ? 'You' : "'#{@admin.login}'" %></h2>

<a href="/alerts/new" class="new">Add</a>
<a href="/alerts" class="list">View All</a>

<% unless @alerts.empty? %>
  <%= render :partial => '/alerts/list' %>
  <%= will_paginate @alerts %>
<% else %>
  <%= render :partial => '/shared/no_records' %>
<% end %>
