<h2>Terminals</h2>

<% superadmin do %>
  <a href="/terminals/new" class="new">Add</a>
<% end %>

<% unless @terminals.empty? %>
  <%= render :partial => '/terminals/list' %>
  <%= will_paginate @terminals %>
<% else %>
  <%= render :partial => '/shared/no_records' %>
<% end %>
